@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutLogin";
}
<script>
    function showPassword(textboxid, eyeid) {
        var textbox = document.getElementById(textboxid);
        var eye = document.getElementById(eyeid);
        if (textbox.type == "password") {
            textbox.type = "text";
            eye.src = "Image/User/open.jpg";
        }
        else {
            textbox.type = "password";
            eye.src = "Image/User/close.jpg";
        }
    }
</script>
<body>
    <!----------------------- Main Container -------------------------->

    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <!----------------------- Login Container -------------------------->

        <div class="row border rounded-5 p-3 bg-white shadow box-area">
            <!--------------------------- Left Box ----------------------------->
            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4 text-wrap text-center" style="
                font-family: 'Courier New', Courier, monospace;
                font-weight: 600;
              ">
                        <h2>Change Password</h2>
                        <p style="color: red">@ViewBag.alert</p>
                        <p style="color: green">@ViewBag.success</p>
                    </div>
                    <form asp-controller="Login" asp-action="ChangePassword" method="post">
                        <div class="input-group mb-3">
                            <input type="password" class="form-control form-control-lg bg-light fs-6"
                                   name="old" id="old" value="@ViewBag.oldPass" required placeholder="Old Password" />
                            <img onclick="showPassword('old', 'oldeye');" id="oldeye"
                                 style="width: 10%; cursor: pointer;" src="Image/User/close.jpg" />
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control form-control-lg bg-light fs-6"
                                   name="new" id="new" value="@ViewBag.newPass" required placeholder="New Password" />
                            <img onclick="showPassword('new', 'neweye');" id="neweye"
                                 style="width: 10%; cursor: pointer;" src="Image/User/close.jpg" />
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control form-control-lg bg-light fs-6"
                                   name="confirm" id="confirm" value="@ViewBag.confirmPass" required placeholder="Confirm Password" />
                            <img onclick="showPassword('confirm', 'confirmeye');" id="confirmeye"
                                 style="width: 10%; cursor: pointer;" src="Image/User/close.jpg" />
                        </div>
                        <div class="input-group mb-3 d-flex justify-content-center change-pass-btn">
                            <div>
                                <input type="submit" class="btn btn-lg btn-primary text-white" value="Confirm" />
                            </div>
                        </div>
                    </form>
                    <div class="input-group mb-3 d-flex justify-content-center change-pass-text">
                        <a href="../Login">Back To Login</a>
                    </div>

                </div>
            </div>

            <!-------------------- ------ Right Box ---------------------------->

            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
                 style="background: white">
                <div class="featured-image mb-3">
                    <img src="/Image/login.jpg" class="img-fluid" style="width: 250px; margin-top: 10px" />
                </div>
            </div>
        </div>
    </div>
</body>
